#elightInput {
	margin: 3px;
}

#elightInput > div {
	z-index: 11;
	position: absolute;
	left: 40px;
	top: 10px;
	display: inline;
}

#elightSearchInput {
	width: 150px;
	background: #131313 url(../images/greyfadingscaledsmall.png) repeat-x;
	color: white;
	padding-left: 3px;
	padding-right: 3px;
}

#elightOutput > div {
	z-index: 10;
	position: absolute;
	left: 40px;
	top: 33px;
	display: inline;
}

#elightResultsAndPointer {
	background-image: url(../images/as_pointer.gif);
	background-position: 30px top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

#elightResults, #elightSearchInput {
	
	border: 0px solid #A34B59;
}

#elightResults {
	background: #131313 url(../images/greyfadingscaled.png) repeat-x top fixed;
	
	height: 300px;
	width: 300px;
	padding: 7px 2px 7px 2px;
	overflow: auto;
}

A > div.elightResult {
	text-decoration: none;
}

A:hover > div.elightResult {

	background: #1d64f0 url(../images/bluefading.png) repeat-x top;	
	cursor: default;
}

.elightResult {
	font-family: Arial,Helvetica,Sans-serif; 
	font-size: 9pt;
	
	padding: 5px 3px 5px 3px;
	margin: 0px 7px 0px 7px;
}

.elightContents, .elightUrl {
	color: #ccc;
	padding-left: 25px;
}
.elightTitle, .elightTitle a {
	font-size: 9pt;
	font-weight: bold;
	color: white;
	padding-left: 5px;
}

.elightUrl {
	font-size: 8.5pt;
}

.elightMessage {
	
	padding: 10px;
	color: #AB1908;
}

.elightLabelContainer {
	
	background: #131313 url(../images/greyfadingscaledsmall.png) repeat-x;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	color: #ccc;
	padding-top: 5px;
}

.elightTitleImg {
	vertical-align: middle;
	margin-right: 4px;
}